* {
    margin: 0;
    padding: 0;
    background: rgba(70, 70, 70, 0.7)url(imgs/fff.jpg);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.background {
    /* background: rgba(70, 70, 70, 0.7)url(../img/fff.jpg); */
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
}
div{
    align-items: center;
    padding: 100px;
    position: absolute;
}